<ion-header>
  <ion-toolbar>
    <ion-button slot="start" defaultHref="/home">
      <ion-back-button><label>Back</label></ion-back-button>
    </ion-button>
    <ion-title>{{nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <h2 style="color:rgb(49, 189, 214);">Agradecemos voce {{nome}} por preencher seus dados</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color:rgb(49, 189, 214);">{{nome}}</ion-card-title>
        <ion-card-subtitle>{{curso}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean
        <p>{{rm}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
